{% extends 'base.html' %}

{% block title %}
Crear Entrada de Tela
{% endblock %}

{% block content %}
<div class="container">
    <h1>Crear Entrada de Tela</h1>
    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.id_proveedor.label }}
            {{ form.id_proveedor(class="form-control") }}
            {% if form.id_proveedor.errors %}
                {% for error in form.id_proveedor.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.id_tela.label }}
            {{ form.id_tela(class="form-control") }}
            {% if form.id_tela.errors %}
                {% for error in form.id_tela.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.tela.label }}
            {{ form.tela(class="form-control") }}
            {% if form.tela.errors %}
                {% for error in form.tela.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.metros.label }}
            {{ form.metros(class="form-control") }}
            {% if form.metros.errors %}
                {% for error in form.metros.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.fecha_entrada.label }}
            {{ form.fecha_entrada(class="form-control") }}
            {% if form.fecha_entrada.errors %}
                {% for error in form.fecha_entrada.errors %}
                    <p class="text-danger">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>
    </div>
{% endblock %}
