{% extends 'base.html' %}

{% block title %}
Agregar Categoria 
{% endblock  %}

{% block content %}
<div class="container">
    <h1>Agregar Categoría</h1>
    <form method="post">
       {{ form.csrf_token }}
       <div class="form-group">
            {{ form.category.label }}
            {{ form.category(placeholder="Categoría", class="form-control") }}
            {% if form.category.errors %}
              {% for error in form.category.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
       </div>
       <div class="form-group">
            {{ form.description.label }}
            {{ form.description(class="form-control") }}
            {% if form.description.errors %}
              {% for error in form.description.errors %}
              <p class="text-danger">{{ error }}</p>
              {% endfor %}
            {% endif %}
       </div>
       <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
       </div>
    </form>
    <a href="{{ url_for('category.categories') }}" class="btn btn-warning">Regresar</a>
</div>
{% endblock content %}
