{% extends 'base.html' %}

{% block title %}
Productos
{% endblock %}
    
{% block content %}
<h1>Página de Productos</h1>
<h2>Lista de Productos</h2>
<li class="right"><a href="{{ url_for('menu.menu_categories') }}">Menu</a></li>
<a href="{{ url_for('productos.create_producto') }}" class="btn btn-success">Nuevo Producto</a>
<div class="table-responsive-md">
<table id="producto" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Producto</th>
            <th>Nombre del Producto</th>
            <th>Tipo de Tela</th>
            <th>Talla</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.id_producto }}</td>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.tipo_tela }}</td>
                <td>{{ producto.talla }}</td>
                <td>
                    <a href="{{ url_for('productos.update_producto', id=producto.id_producto) }}">
                        <i class="fa fa-refresh fa-spin"></i>
                    </a>
                    <form method="post" action="{{ url_for('productos.delete_producto', id=producto.id_producto) }}">
                        <button type="submit"
                            onclick="return confirm('¿Estás seguro de eliminar este producto?')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
