{% extends 'base.html' %}

{% block title %}
Proveedores
{% endblock %}
    
{% block content %}
<h1>pagina de Proveedores</h1>
<h2>Lista de Proveedores</h2>
<li class="right"><a href="{{ url_for('menu.menu_categories') }}">Menu</a></li>
<a href="{{ url_for('proveedor.create_proveedor') }}" class="btn btn-success">Nuevo Proveedor</a>
<div class="table-responsive-md">
<table id="proveedor" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID Proveedor</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.id_proveedor }}</td>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.Ape_pat }}</td>
                <td>{{ proveedor.Ape_mat }}</td>
                <td>{{ proveedor.Direccion }}</td>
                
                <td>
                    <a href="{{ url_for('proveedor.update_proveedor', id=proveedor.id_proveedor) }}">
                        <i class="fa fa-refresh fa-spin"></i>
                    </a>
                    <form method="post" action="{{ url_for('proveedor.delete_proveedor', id=proveedor.id_proveedor) }}">
                        <button type="submit"
                            onclick="return confirm('¿Estás seguro de eliminar este proveedor?')">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
