    {% extends 'base.html' %}

    {% block title %}
    tipo tela 
    {% endblock %}
        
    {% block content %}
    <h1>pagina de Telas </h1>
    <h2>lista de telas</h2>
    <li><a href="{{ url_for('tipo_tela.tipo_tela') }}">Regresar</a></li>
    <a href="{{ url_for('entrada_tela.create_entrada_tela') }}" class="btn btn-success">Nueva Entrada</a>
    <li class="right"><a href="{{ url_for('menu.menu_categories') }}">Menu</a></li>
    <table id="entrada_tela">
        <thead>
            <tr>
                <th>ID entrada</th>
                <th>ID Proveedor</th>
                <th>ID Tela</th>
                <th>Tela</th>
                <th>Metros</th>
                <th>Fecha de Entrada</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
            <tr>
                
                <td>{{ entrada.id_entrada}}</td>
                <td>{{ entrada.id_proveedor }}</td>
                <td>{{ entrada.id_tela }}</td>
                <td>{{ entrada.tela }}</td>
                <td>{{ entrada.metros }}</td>
                <td>{{ entrada.fecha_entrada }}</td>
                <td>
                    <a href="{{ url_for('entrada_tela.update_entrada_tela', id=entrada.id_entrada) }}">  
                         <i class="fa fa-refresh fa-spin"></i>
                    </a>
                    <form action="{{ url_for('entrada_tela.delete_entrada_tela', id=entrada.id_entrada) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit"
                        onclick="return confirm('seguro?')">
                        <i class="fa fa-trash"></i>
                    </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endblock %}