@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(62, 157, 160);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style: none;
    display: inline-block;
    width: 150px;
    height: 30px;
}

nav li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

nav li a:hover {
    border-bottom: 3px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.btn {
    display: block;
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.btn-success {
    background-color: rgb(171, 62, 234);
}

.btn-warning {
    background-color: rgb(234, 194, 62);
}

.container {
    width: 80%;
    margin: 0 auto;
}

#categories {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #categories td, #categories th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #categories tr:nth-child(even){background-color: #f2f2f2;}
  
  #categories tr:hover {background-color: #ddd;}
  
  #categories th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #041daa;
    color: white;
  }

  .fa-trash {
    color: red;
  }
  
  .fa-refresh {
    color: green;
  }

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/* estilo para el menu lateral*/
 body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        
        .wrapper {
            display: flex;
            flex: 1;
        }
        
        .sidebar {
            background: #f1f1f1;
            padding: 20px;
            width: 200px;
        }
        
        .sidebar ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        
        .sidebar li {
            margin-bottom: 10px;
        }
        
        .sidebar a {
            text-decoration: none;
            color: #333;
        }
        
        .content {
            flex: 1;
            padding: 20px;
        }
        
        footer {
            background: #333;
            color: #fff;
            padding: 10px;
            text-align: center;
        }
      /* Estilos para la barra de navegación */
nav {
    background-image: linear-gradient(235deg, #ffbb7e 0, #ffc076 3.33%, #ffc570 6.67%, #ffca6b 10%, #f4cf69 13.33%, #e7d469 16.67%, #dad86c 20%, #cbdc70 23.33%, #bcdf77 26.67%, #ace280 30%, #9ce58a 33.33%, #8ae795 36.67%, #76e9a1 40%, #60ebaf 43.33%, #43ecbd 46.67%, #0cedcb 50%, #00edd9 53.33%, #00eee8 56.67%, #00edf5 60%, #00ecff 63.33%, #00ebff 66.67%, #00eaff 70%, #00e8ff 73.33%, #00e5ff 76.67%, #00e2ff 80%, #3cdfff 83.33%, #66dbff 86.67%, #85d7ff 90%, #a0d2ff 93.33%, #b8cdff 96.67%, #cec8ff 100%);
    padding: -10px 0; /* Ajusta el padding vertical y horizontal según tus necesidades */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #a4bfdb;
}

/* Estilos para el logo */
.logo {
    max-width: 120px; /* Ajusta el tamaño máximo de la imagen */
    margin: 0;
    float: right; /* Hace que el logo se alinee a la derecha */
}
/* Estilos para la barra de navegación */
nav {
    background-image: linear-gradient(235deg, #ffbb7e 0, #ffc076 3.33%, #ffc570 6.67%, #ffca6b 10%, #f4cf69 13.33%, #e7d469 16.67%, #dad86c 20%, #cbdc70 23.33%, #bcdf77 26.67%, #ace280 30%, #9ce58a 33.33%, #8ae795 36.67%, #76e9a1 40%, #60ebaf 43.33%, #43ecbd 46.67%, #0cedcb 50%, #00edd9 53.33%, #00eee8 56.67%, #00edf5 60%, #00ecff 63.33%, #00ebff 66.67%, #00eaff 70%, #00e8ff 73.33%, #00e5ff 76.67%, #00e2ff 80%, #3cdfff 83.33%, #66dbff 86.67%, #85d7ff 90%, #a0d2ff 93.33%, #b8cdff 96.67%, #cec8ff 100%);
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 5px;
}

nav a {
    color: #ee6262;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:hover {
    background-color: #a4bfdb;
}
/* Estilos para el contenedor del texto y el logo */
.logo-container {
    display: flex;
    align-items: center;
}
/* Estilos para el texto de bienvenida */
.welcome-message {
    font-size: 45px;  /* Tamaño deseado para el texto de bienvenida */
    margin-right: -50px;
}

/* Estilos para el texto del logo */
.logo-text {
    margin-left: 30px;
    text-align: center;
}

/* Estilos para el logo */
.logo {
    float: right;
}

/* Estilos para el contenido */
.container {
    padding: 20px;
}

/* Estilos para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
/* Estilos para el botón "Cerrar sesión" */
a#logout-btn {
    position: fixed; /* Fijar el botón en la ventana */
    top: 10px; /* Alineación desde la parte superior */
    right: 10px; /* Alineación desde la parte derecha */
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff; /* Color del texto */
    background-color: #53c78d; /* Color de fondo del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a#logout-btn:hover {
    background-color: #5fd1da; /* Color de fondo del botón al pasar el mouse */
}
/* estilo para el about */ 
about{
    color: red;
}
Contact Page{
    color: red;
}
/* Estilos para el menú */
.menu-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

/* Estilos para cada elemento del menú */
.menu-item {
    text-align: center;
    transition: transform 0.3s ease; /* Agregamos una transición para la animación */
    color: #0056b3;

}

.menu-item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.menu-item p {
    font-size: 14px;
}

/* Animación en hover */
.menu-item:hover {
    transform: scale(1.1); /* Aumentamos el tamaño de la imagen en 10% */
}
/* Estilos para el contenedor principal */
  /* Estilos para el contenido dentro del contenedor */
  footer {
    background-color: #020202;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-column {
    flex: 1;
  }
  
  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-content img {
    width: 30px;
    height: 30px;
  }
  /* static/css/styles.css */

.profile-image {
    position: absolute;
    top: 10px; /* Ajusta la distancia superior según tu preferencia */
    left: 10px; /* Ajusta la distancia izquierda según tu preferencia */
    width: 40px; /* Ajusta el ancho de la imagen según tu preferencia */
    height: 40px; /* Ajusta la altura de la imagen según tu preferencia */
}

.profile-image img {
    width: 100%; /* Asegura que la imagen ocupe todo el espacio del contenedor */
    height: 100%; /* Asegura que la imagen ocupe todo el espacio del contenedor */
}
/* Estilos generales para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  thead {
    background-color: #026ae0;
    color: rgb(240, 240, 240);
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para los botones en las celdas de acción */
  td a {
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    color: #007bff;
  }
  
  td a:hover {
    color: #0056b3;
  }
  
  td button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #007bff;
  }
  
  td button:hover {
    color: #0056b3;
  }
  
  /* Estilos para el ícono de "fa-trash" */
  td .fa-trash {
    font-size: 20px;
    cursor: pointer;
  }
  
  /* Estilos para el ícono de "fa-refresh" */
  td .fa-refresh {
    font-size: 20px;
    animation: spin 2s infinite linear;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  /* Estilos para el botón en la esquina superior derecha */
li.right {
    position: absolute;
    top: -0;
    right: 0;
    margin: 10px;
}

/* Estilos adicionales para aplicar al botón */
li.right a {
    /* Añade tus estilos aquí, por ejemplo: */
    background-color: #3d8b57;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
}
#maquilero{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #maquilerotd, #maquilero th {
    border: 4px solid ddds;
    padding: 8px;
  }
  
  #maquilero tr:nth-child(even){background-color: f2f2f2;}
  
  #maquilero tr:hover {background-color: #ddd;}
  
  #maquilero{
    padding-top: 18px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: rgb(0, 0, 0);
  }

  .fa-trash {
    color: red;
  }
  
  .fa-refresh {
    color: green;
  }

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
}





#productos {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #productos td, #productos th {
    border: 4px solid #ddd;
    padding: 8px;
  }
  
  #productos tr:nth-child(even){background-color: #f2f2f2;}
  
  #productos tr:hover {background-color: #ddd;}
  
  #productos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa3b;
    color: white;
  }

  .fa-trash {
    color: red;
  }
  
  .fa-refresh {
    color: green;
  }

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
}



#entrada_tela {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #entrada_tela td, #entrada_tela th {
    border: 4px solid #ddd;
    padding: 8px;
  }
  
  #entrada_tela tr:nth-child(even){background-color: #f2f2f2;}
  
  #entrada_tela tr:hover {background-color: #ddd;}
  
  #entrada_tela th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #df9c0e;
    color: white;
  }

  .fa-trash {
    color: red;
  }
  
  .fa-refresh {
    color: green;
  }

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
}

#proveedor {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #proveedor td, #proveedor th {
    border: 4px solid #ddd;
    padding: 8px;
  }
  
  #proveedor tr:nth-child(even){background-color: #f2f2f2;}
  
  #proveedor tr:hover {background-color: #ddd;}
  
  #proveedor th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #e90e69;
    color: white;
  }

  .fa-trash {
    color: red;
  }
  
  .fa-refresh {
    color: green;
  }

table form {
    display: inline-block;
}

table a {
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 20px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
/*estilos para el create_maq*/
    .maquilero-form {
        margin-top: -20px;
        max-width: 400px;
        padding: 20px;
        border: 1px solid #a6e681;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(221, 8, 8, 0.1);
        align-content: center;
    }
    .maquilero-form .form-group {
        margin-bottom: 15px;
    }

  

  

  






    





