<!DOCTYPE html>
<html lang="es">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="images/Logo_Testileria.ico">


    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% if user %}
    <!-- Barra de navegación para usuarios autenticados -->
    <header>
        <nav>
            <div class="profile-image">
                <a href="{{ url_for('user.profile', id=user.id) }}">
                <img src="{{ url_for('static', filename='images/profileuser.jpeg') }}" alt="Profile Image">
            </a>
            </div>
            <ul>
                <li><a href="{{ url_for('home.about') }}">About</a></li>
                {% if user %}
                {% else %}
                <li><a href="{{ url_for('user.login') }}">Login</a></li>
                <li><a href="{{ url_for('user.register') }}">Registro</a></li>
                {% endif %}
                <li><a href="{{ url_for('category.categories') }}">Categories</a></li>

                <li><a href="{{ url_for('menu.menu_categories') }}">Menu Categories</a></li>
            </ul>
        </nav>
    </header>
    {% endif %} 
    <section>
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <div class="footer-content">
            <p>Contacto: Textilera"RG"@gmail.com</p>
            <p>Teléfono: 52+ 247 440 22 05</p>
            <p>Síguenos en redes sociales:</p>
            <div class="social-links">
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/facebook-icon.png') }}" alt="Facebook">
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/twitter-icon.png') }}" alt="Twitter">
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer">
                    <img src="{{ url_for('static', filename='images/instagram-icon.png') }}" alt="Instagram">
                </a>
            </div>
        </div>
        <p>&copy; Kion technology INC . Todos los derechos reservados.</p>
    </footer>
    <!--agregarle una barra de desplasamiento y que la informacion del footer reste a lo ANCHO Y SI A LO largo -->
</body>
</html>
